* {
    margin: 0;
    padding: 0;
}



/* 总区域 */
.el-container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

/* 头部区域 */
.el-header {
    width: 100%;
    height: 40%;
}

/* 登录注册按钮 */
.top_right{
    position: absolute;
    right: 10px;
}

.top_right button{
    margin: 0 10px 0 0;
    /* 去除按钮背景和边框 */
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: #626466;
}

/* 标题条 */
.el-header .titleBar {
    display: flex;
    height: 15%;
    width: 100%;
    line-height: 15%;
    align-items: center;
    position: relative;
    /* background-color: rgb(239, 64, 64); */
}

.el-header .titleBar img {
    margin-left: 5%;
    height: 40px;
}

.el-header .titleBar .titleText {
    font-size: 16px;
}


.el-header .carousel .el-carousel {
    width: 110%;
    transform: translateX(-4%);
}

.demonstration {
    color: var(--el-text-color-secondary);
}

.el-carousel__item h3 {
    color: #475669;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
    text-align: center;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
}

/* 导航栏 */
.el-header .navigationBar {
    height: 15%;
    background-color: antiquewhite;
}


/* 主体区域 */
.el-main {
    /* background-color: aqua; */
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    /* height: 200px; */
}

.el-main .mainTop {
    margin-left: 10px;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    position: relative;
}

/* 热映图片 */
.hotPictures {
    display: inline-flex;
    /* 突破父元素的宽度，变成2000px */
    width: 100%;
}

.hotPictures .page_1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hotPictures .page_1 div {
    width: 15%;
    height: 200px;
    background-color: #D3DCE6;
}


.hotNews {
    width: 81%;
    margin-top: 10px;
    margin-left: 10px;
    /* background-color: rgb(2, 137, 255); */
}

.hotNews_text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.newsContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.newsContent div {
    width: 47%;
    height: 300px;
    background-color: #D3DCE6;
}

.popularCinemas {
    width: 17%;
    margin-left: 10px;
    margin-top: 10px;
}

.listOfTheaters {
    width: 100%;
    height: 300px;
    /* background-color: skyblue; */
}

.listOfTheaters ol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding-left: 20px;
}

.listOfTheaters ol li {
    height: 16.5%;
    letter-spacing: 2px;
}

.hotTeaser {
    margin-top: 10px;
    margin-left: 10px;
    width: 81%;
    /* background-color: skyblue; */
    display: flex;
    flex-wrap: wrap;
}

.teaserContent {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.teaserContent div {
    width: 20%;
    height: 80%;
    background-color: #D3DCE6;
}

.boxOfficeRankings {
    width: 17%;
    margin: 10px 0 0 10px;
}

.boxOffice{
    width: 100%;
    height: 250px;
}

.boxOffice ol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    padding-left: 20px;
}

.boxOfficeRankings ol li {
    height: 16.5%;
    letter-spacing: 2px;
}



/* 足部区域 */
.el-footer {
    background-color: #D3DCE6;
}